# WARNING: ESLint will hang if this does not match your build folder and your build folder contains contents
# Build folder
build

# Installed packages
node_modules

# Sandbox
sandbox

# Amplify folders
amplify
src/aws/models
src/aws/graphql
src/aws/API.ts
src\aws\models
