# Ditribution file
dist

# Installed packages
node_modules

# AWS folders
amplify/.config/*
amplify/cli.json
amplify/team-provider-info.json
amplify/backend/backend-config.json
amplify/backend/tags
amplify/backend/api/reportcare/*
amplify/backend/auth
amplify/backend/function
!**/schema.graphql
src/aws/*
!src/aws/index.ts
!src/aws/typedAPI
**/*.js

Others
.vscode